
/*Fuentes de texto */

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
    font-weight: 300;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-image: url(../images/gamer-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    /*display: flex;
    flex-direction: column;*/
}

main{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px 20px 30px;
    row-gap: 15px;
    background-color: white;
    background-image: url(../images/yellow-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

h1{
    font-family: "Titan One", serif;
    font-weight: 400;
    font-style: normal;
    align-self: center;
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 40px;
    color: #4C585B;
}

h1 img{
    width: 45px;
}

h2{
    font-family: "Nunito Sans", serif;
    margin: 0;
    color: #7E99A3;
    font-weight: 500;
    font-size: 28px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

h2 img{
    width: 45px;
}

h3{
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.mascota-formulario{
    display: flex;
    row-gap: 60px;
    flex-direction: column;
}

#boton-mascota{
    align-self: center;
}

/*
.mascota-formulario > div{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
*/

/* Convertir en contenedores flexbox a las secciones */

#seleccionar-mascota{
    width: 90%;
    display: flex;
    column-gap: 20px;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
    row-gap: 15px;
    background-color: white;
    padding: 30px 15px 40px 15px;
}

#seleccionar-ataque{
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 12px 15px 25px 15px;
    row-gap: 15px;
    align-items: center;

    position: relative;
}

#seleccionar-ataque > div:nth-child(2){
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 80px;
    column-gap: 200px;
}


#mensajes{
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#reiniciar{
   /* width: 90%;
    background-color: white;*/
    display: flex;

    /*Capitulo 8: las 3 propiedades que a continuación se comentan han sido movidas a la clase boton-flotante para estandarizar su uso*/
    /*
    position: fixed;
    right: 10%;
    top: 20%;
    */
}

/* Componente: Botones*/

.btn-style1{
    color: white;
    background-color: #7E99A3;
    border: 0;
    padding: 12px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.btn-style1:hover{
    background-color: #4C585B;
}

/* Componente: Cards pantalla 1*/

.cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 40px;
}

.card-mokepon img{
    width: 70%;
    cursor: pointer;
}

.card-mokepon{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    box-shadow: 1px 2px 5px 0px #7E99A3;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.card-mokepon:hover{
    transform: translateY(-10px);
}

.card-mokepon div:nth-child(2){
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 15px
}

.card-mokepon div:nth-child(2) div{
    display: flex;
    column-gap: 10px;
}

.card-mokepon div:nth-child(1){
    display: flex;
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.card-mokepon div:nth-child(1) div{
    display: flex;
    justify-content: center;
}

input[type=radio]{
    display: none;
}

/* Componente: Cards pantalla 2*/


.card-mokepon-juego{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    background-color: #595959;
    padding: 30px 0px 40px 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.card-mokepon-juego img{
    width: 80%;
}


.card-mokepon-juego > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-mokepon-juego > div:nth-child(2) > div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 50%;
    background-color: white;
}

.card-mokepon-juego > div:nth-child(2) > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 215px;
    background-color: #4b7f94;
    border-radius: 50%;
}


.card-mokepon-juego > div:nth-child(3){
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.card-mokepon-juego > div:nth-child(3) > div:nth-child(3){
    display: flex;
    column-gap: 10px;
}

.card-mokepon-juego > div:nth-child(3) > div:nth-child(4){
    display: flex;
    column-gap: 10px;
}


/* Jerarquía de textos */

.text-mokepon-name{
    font-size: 22px;
    font-weight: 700;
    color: #4C585B;
}

.text-mokepon-number{
    font-size: 14px;
    font-weight: 600;
    color: #7E99A3;
}

.text-button{
    font-size: 20px;
    font-weight: 700;
}

.text-mokepon-name-clear{
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.text-mokepon-subtitles{
    font-size: 16px;
    font-weight: 600;
    color: #7E99A3;
}

.text-batalla{
    font-size: 16px;
    color: #4b7f94;
    font-weight: 600;
}

.text-batalla-final{
    font-size: 16px;
    color: #E3350D;
    font-weight: 600;
}



/*Componente: Badge*/

.water-attack-badge{
    background-color: #4592c4;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 18px;
    border-radius: 5px;
}

.tierra-attack-badge{
    background-color: #9BCC50;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 18px;
    border-radius: 5px;
}

.fire-attack-badge{
    background-color: #FD7D24;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 18px;
    border-radius: 5px;
}

/* Posicionamiento de botones de ataque */

#seleccionar-ataque > div:nth-child(3){
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    top: calc(50% - 95.6px);
    left: calc(50% - 82.98px);
}

/*Cajita de mensajes*/

#mostrar-mensajes{
    /*width: 100%;*/ /*Nota aclaratoria: se cambión por un width de 22% en el capítulo 10*/
    background-color: black;
    padding: 15px;
    position: absolute;
    width: 22%;
    left: 0%;
    top: 0;
}

#mostrar-mensajes > div{
    background-color: #2A2F2B;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}

#mostrar-mensajes > div > div{
    width: 100%;
    background-color: #4963B1;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}

#mostrar-mensajes > div > div > div{
    width: 100%;
    padding: 25px 30px;
    border-radius: 10px;
    outline: 3px solid black;
    position: relative;

}

#mostrar-mensajes img{
    width: 50px;
    position: absolute;
    top: -25px;
    left: calc(50% - 25px);
}

/*Botón Flotante Reiniciar*/

/*Capítulo 8: Esta propiedades pasaron a la línea 456, porque hemos creado una clase a reutilizar en botones flotantes*/
/*
#boton-reiniciar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

.icon-fijo{
    font-size: 50px;

}

.btn-style2{
    color: white;
    background-color: #e3350d;
    border: 4px solid black;
    border-right: 0;
    padding: 35px 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}


.btn-style2:hover{
    background-color: #A6270A;
}

/*Botón Flotante Seleccionar*/

#boton-mascota img{
    width: 45px;
}

.boton-flotante-alineamiento{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.boton-flotante-r10-t20{
    position: fixed;
    right: 10%;
    top: 20%;
}

.boton-flotante-r0-t20{
    position: fixed;
    right: 0%;
    top: 20%;
}

.btn-style3{
    color: white;
    background-color: #4DAD5B;
    border: 4px solid white;
    border-right: 0;
    padding: 35px 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.btn-style3:hover{
    background-color: #3E8C4A;
}