
/*Fuentes de texto */

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: "Comic Neue", serif;
    font-weight: 300;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-image: url(../images/gamer-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    /*display: flex;
    flex-direction: column;*/
}

main{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px 20px 30px;
    row-gap: 15px;
    background-color: white;
    background-image: url(../images/yellow-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

h1{
    color: #2E6BAF;
    font-family: "Titan One", serif;
    font-weight: 400;
    font-style: normal;
    align-self: center;
}

h2{
    font-family: "Nunito Sans", serif;
    margin: 0;
}

.mascota-formulario{
    display: flex;
    row-gap: 60px;
    flex-direction: column;
}

#boton-mascota{
    align-self: center;
}

/*
.mascota-formulario > div{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
*/

/* Convertir en contenedores flexbox a las secciones */

#seleccionar-mascota{
    width: 90%;
    display: flex;
    column-gap: 20px;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
    row-gap: 15px;
    background-color: white;
    padding: 30px 15px 40px 15px;
}

#seleccionar-ataque{
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#mensajes{
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#reiniciar{
    width: 90%;
    background-color: white;
    display: flex;
}

/* Componente: Botones*/

.btn-style1{
    color: white;
    background-color: #A5BFCC;
    border: 0;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.btn-style1:hover{
    background-color: #7E99A3;
}

/* Componente: Cardas*/

.cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 40px;
}

.card-mokepon img{
    width: 70%;
    cursor: pointer;
}

.card-mokepon{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.card-mokepon div:nth-child(2){
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.card-mokepon div:nth-child(2) p:nth-child(1){
    padding-bottom: 15px;
}

.card-mokepon div:nth-child(2) div{
    display: flex;
    column-gap: 10px;
}

.card-mokepon div:nth-child(1){
    display: flex;
    background-color: #f2f2f2;
}

.card-mokepon div:nth-child(1) label{
    display: flex;
    justify-content: center;
}
